[submodule "Easy/1147f9e3b12f386acfd8"]
	path = Easy/challenge-1
	url = https://gist.github.com/1147f9e3b12f386acfd8.git
[submodule "Easy/10f704792350277885db"]
	path = Easy/challenge-2
	url = https://gist.github.com/10f704792350277885db.git
[submodule "Easy/b382a4427bc21f2726c0"]
	path = Easy/challenge-3
	url = https://gist.github.com/b382a4427bc21f2726c0.git
[submodule "Easy/db8c0888a63e9e2b9825"]
	path = Easy/challenge-6
	url = https://gist.github.com/db8c0888a63e9e2b9825.git
[submodule "Easy/4873a0e48573e1cf105c"]
	path = Easy/challenge-7
	url = https://gist.github.com/4873a0e48573e1cf105c.git
[submodule "Easy/e5392426774a88521e27"]
	path = Easy/challenge-8
	url = https://gist.github.com/e5392426774a88521e27.git
[submodule "Easy/f5b4bd5138284443e320"]
	path = Easy/challenge-9
	url = https://gist.github.com/f5b4bd5138284443e320.git
[submodule "Easy/cd63ec6df368d6d7a2bc"]
	path = Easy/challenge-10
	url = https://gist.github.com/cd63ec6df368d6d7a2bc.git
[submodule "Easy/b08a393896db08af8d64"]
	path = Easy/challenge-4
	url = https://gist.github.com/b08a393896db08af8d64.git
[submodule "Easy/1c871d640f6b64cb5288"]
	path = Easy/challenge-5
	url = https://gist.github.com/1c871d640f6b64cb5288.git
[submodule "Easy/10d57fcfc48f340b690e"]
	path = Easy/challenge-11
	url = https://gist.github.com/10d57fcfc48f340b690e.git
[submodule "Easy/fd396f13bcc447a9f3a6"]
	path = Easy/challenge-12
	url = https://gist.github.com/fd396f13bcc447a9f3a6.git
[submodule "Easy/3e23871174e5ddb24d48"]
	path = Easy/challenge-13
	url = https://gist.github.com/3e23871174e5ddb24d48.git
[submodule "Easy/e500242c4d656f08b223"]
	path = Easy/challenge-14
	url = https://gist.github.com/e500242c4d656f08b223.git
[submodule "Easy/fabc20a73ad62ee92708"]
	path = Easy/challenge-15
	url = https://gist.github.com/fabc20a73ad62ee92708.git
