[submodule "Easy/1147f9e3b12f386acfd8"]
	path = Easy/challenge-1
	url = https://gist.github.com/1147f9e3b12f386acfd8.git
[submodule "Easy/10f704792350277885db"]
	path = Easy/challenge-2
	url = https://gist.github.com/10f704792350277885db.git
[submodule "Easy/b382a4427bc21f2726c0"]
	path = Easy/challenge-3
	url = https://gist.github.com/b382a4427bc21f2726c0.git
[submodule "Easy/db8c0888a63e9e2b9825"]
	path = Easy/challenge-6
	url = https://gist.github.com/db8c0888a63e9e2b9825.git
[submodule "Easy/4873a0e48573e1cf105c"]
	path = Easy/challenge-7
	url = https://gist.github.com/4873a0e48573e1cf105c.git
[submodule "Easy/e5392426774a88521e27"]
	path = Easy/challenge-8
	url = https://gist.github.com/e5392426774a88521e27.git
[submodule "Easy/f5b4bd5138284443e320"]
	path = Easy/challenge-9
	url = https://gist.github.com/f5b4bd5138284443e320.git
[submodule "Easy/cd63ec6df368d6d7a2bc"]
	path = Easy/challenge-10
	url = https://gist.github.com/cd63ec6df368d6d7a2bc.git
[submodule "Easy/b08a393896db08af8d64"]
	path = Easy/challenge-4
	url = https://gist.github.com/b08a393896db08af8d64.git
[submodule "Easy/1c871d640f6b64cb5288"]
	path = Easy/challenge-5
	url = https://gist.github.com/1c871d640f6b64cb5288.git
[submodule "Easy/10d57fcfc48f340b690e"]
	path = Easy/challenge-11
	url = https://gist.github.com/10d57fcfc48f340b690e.git
[submodule "Easy/fd396f13bcc447a9f3a6"]
	path = Easy/challenge-12
	url = https://gist.github.com/fd396f13bcc447a9f3a6.git
[submodule "Easy/3e23871174e5ddb24d48"]
	path = Easy/challenge-13
	url = https://gist.github.com/3e23871174e5ddb24d48.git
[submodule "Easy/e500242c4d656f08b223"]
	path = Easy/challenge-14
	url = https://gist.github.com/e500242c4d656f08b223.git
[submodule "Easy/fabc20a73ad62ee92708"]
	path = Easy/challenge-15
	url = https://gist.github.com/fabc20a73ad62ee92708.git
[submodule "Easy/bcefcab77adb3990f331"]
	path = Easy/challenge-16
	url = https://gist.github.com/bcefcab77adb3990f331.git
[submodule "Easy/df249db586a9b6670272"]
	path = Easy/challenge-17
	url = https://gist.github.com/df249db586a9b6670272.git
[submodule "Easy/1fd577d7c1cbd37ea748"]
	path = Easy/challenge-18
	url = https://gist.github.com/1fd577d7c1cbd37ea748.git
[submodule "Easy/77c0a083e073449bc08f"]
	path = Easy/challenge-19
	url = https://gist.github.com/77c0a083e073449bc08f.git
[submodule "Easy/b439fd5c6450a317882e"]
	path = Easy/challenge-20
	url = https://gist.github.com/b439fd5c6450a317882e.git
[submodule "Easy/e06311446f13e0f1c84c"]
	path = Easy/challenge-21
	url = https://gist.github.com/e06311446f13e0f1c84c.git
[submodule "Easy/3ed82ae24a47d9016f17"]
	path = Easy/challenge-22
	url = https://gist.github.com/3ed82ae24a47d9016f17.git
[submodule "Easy/90a1a867ea75099e4976"]
	path = Easy/challenge-23
	url = https://gist.github.com/90a1a867ea75099e4976.git
[submodule "Easy/d0d3a902753d2cbd2da9"]
	path = Easy/challenge-25
	url = https://gist.github.com/d0d3a902753d2cbd2da9.git
[submodule "Easy/3aecc0dc520a7e74c84f"]
	path = Easy/challenge-26
	url = https://gist.github.com/3aecc0dc520a7e74c84f.git
[submodule "Easy/e9b7096a35c9b4d5071c"]
	path = Easy/challenge-27
	url = https://gist.github.com/e9b7096a35c9b4d5071c.git
[submodule "Easy/88643374cb6f6bc5f913"]
	path = Easy/challenge-28
	url = https://gist.github.com/88643374cb6f6bc5f913.git
[submodule "Easy/166602761bae087d2374"]
	path = Easy/challenge-29
	url = https://gist.github.com/166602761bae087d2374.git
[submodule "Easy/341f1825e790a1ef8252"]
	path = Easy/challenge-30
	url = https://gist.github.com/341f1825e790a1ef8252.git
[submodule "Easy/c67a473d8e0b040167ed"]
	path = Easy/challenge-31
	url = https://gist.github.com/c67a473d8e0b040167ed.git
[submodule "Easy/cd21659fa6a986e0ad81"]
	path = Easy/challenge-33
	url = https://gist.github.com/cd21659fa6a986e0ad81.git
[submodule "Easy/e29472e1fe78fb29aacd"]
	path = Easy/challenge-34
	url = https://gist.github.com/e29472e1fe78fb29aacd.git
[submodule "Easy/2493e9e2f45901a19ff1"]
	path = Easy/challenge-37
	url = https://gist.github.com/2493e9e2f45901a19ff1.git
[submodule "Easy/e5028afc78306223e1f6"]
	path = Easy/challenge-39
	url = https://gist.github.com/e5028afc78306223e1f6.git
[submodule "Easy/c44b8fc36c5b2407734b"]
	path = Easy/challenge-41
	url = https://gist.github.com/c44b8fc36c5b2407734b.git
[submodule "Easy/b89ba1dabbce9db513fd"]
	path = Easy/challenge-44
	url = https://gist.github.com/b89ba1dabbce9db513fd.git
[submodule "Easy/a963d071c9c1ae4eec5b"]
	path = Easy/challenge-45
	url = https://gist.github.com/a963d071c9c1ae4eec5b.git
[submodule "Easy/15112cc9444c29c0fa39"]
	path = Easy/challenge-46
	url = https://gist.github.com/15112cc9444c29c0fa39.git
[submodule "Easy/9ba3ea2af420446dfb1f"]
	path = Easy/challenge-47
	url = https://gist.github.com/9ba3ea2af420446dfb1f.git
[submodule "Easy/b7cc49be1b278e60f012"]
	path = Easy/challenge-48
	url = https://gist.github.com/b7cc49be1b278e60f012.git
[submodule "Easy/8aec06b5dcdac4f10531"]
	path = Easy/challenge-51
	url = https://gist.github.com/8aec06b5dcdac4f10531.git
[submodule "Easy/8bf69a9b68928477d4dd"]
	path = Easy/challenge-53
	url = https://gist.github.com/8bf69a9b68928477d4dd.git
[submodule "Easy/8a5e8f408e706486e301"]
	path = Easy/challenge-54
	url = https://gist.github.com/8a5e8f408e706486e301.git
[submodule "Easy/7f8cc3179a73b1e70583"]
	path = Easy/challenge-57
	url = https://gist.github.com/7f8cc3179a73b1e70583.git
[submodule "Easy/72cdd2407ecfb7807b0f"]
	path = Easy/challenge-59
	url = https://gist.github.com/72cdd2407ecfb7807b0f.git
[submodule "Easy/b93134de819850df6293"]
	path = Easy/challenge-61
	url = https://gist.github.com/b93134de819850df6293.git
[submodule "Easy/a1930e44d44ba39ddbb7"]
	path = Easy/challenge-63
	url = https://gist.github.com/a1930e44d44ba39ddbb7.git
[submodule "Easy/0455b27b74b1c0bbdcd9"]
	path = Easy/challenge-64
	url = https://gist.github.com/0455b27b74b1c0bbdcd9.git
[submodule "Easy/14eb246f4dc31ebb41ab"]
	path = Easy/challenge-66
	url = https://gist.github.com/14eb246f4dc31ebb41ab.git
[submodule "Easy/09cbdaae58a8b0d6dbcf"]
	path = Easy/challenge-67
	url = https://gist.github.com/09cbdaae58a8b0d6dbcf.git
[submodule "Easy/d30bab12d2c9d906ff0c"]
	path = Easy/challenge-69
	url = https://gist.github.com/d30bab12d2c9d906ff0c.git
[submodule "Easy/1a9a3544fc0f471f6d66"]
	path = Easy/challenge-70
	url = https://gist.github.com/1a9a3544fc0f471f6d66.git
[submodule "Easy/9edf439bac2cb3c2dfb8"]
	path = Easy/challenge-75
	url = https://gist.github.com/9edf439bac2cb3c2dfb8.git
[submodule "Easy/5068b073d2ea9b32e451"]
	path = Easy/challenge-76
	url = https://gist.github.com/5068b073d2ea9b32e451.git
[submodule "Easy/e1c0150bf81422db9bc3"]
	path = Easy/challenge-78
	url = https://gist.github.com/e1c0150bf81422db9bc3.git
[submodule "Easy/84f4b2a7b5544a22f839"]
	path = Easy/challenge-79
	url = https://gist.github.com/84f4b2a7b5544a22f839.git
[submodule "Easy/c81f2d1ac14295b3c91e"]
	path = Easy/challenge-82
	url = https://gist.github.com/c81f2d1ac14295b3c91e.git
[submodule "Easy/504ca624641109131387"]
	path = Easy/challenge-83
	url = https://gist.github.com/504ca624641109131387.git
[submodule "Easy/d27d8f26f52ea5d07cb0"]
	path = Easy/challenge-84
	url = https://gist.github.com/d27d8f26f52ea5d07cb0.git
[submodule "Easy/0cf8d5191a94404fc790"]
	path = Easy/challenge-86
	url = https://gist.github.com/0cf8d5191a94404fc790.git
[submodule "Easy/ba9896f58e5ed831fa00"]
	path = Easy/challenge-88
	url = https://gist.github.com/ba9896f58e5ed831fa00.git
[submodule "Easy/49016c2c06126be2e4d7"]
	path = Easy/challenge-90
	url = https://gist.github.com/49016c2c06126be2e4d7.git
[submodule "Easy/05e3b65b9bc78e16ac32"]
	path = Easy/challenge-92
	url = https://gist.github.com/05e3b65b9bc78e16ac32.git
[submodule "Easy/a3782862dfc78c38ab7b"]
	path = Easy/challenge-94
	url = https://gist.github.com/a3782862dfc78c38ab7b.git
[submodule "Easy/b82816670524264add15"]
	path = Easy/challenge-95
	url = https://gist.github.com/b82816670524264add15.git
[submodule "Easy/7579751116ade5db5fd0"]
	path = Easy/challenge-96
	url = https://gist.github.com/7579751116ade5db5fd0.git
[submodule "Easy/b58ea81cd1d397b339ea"]
	path = Easy/challenge-97
	url = https://gist.github.com/b58ea81cd1d397b339ea.git
[submodule "Easy/b16ed7d37a2e33c953dc"]
	path = Easy/challenge-100
	url = https://gist.github.com/b16ed7d37a2e33c953dc.git
[submodule "Easy/b9a0660aa193c82866a0"]
	path = Easy/challenge-99
	url = https://gist.github.com/b9a0660aa193c82866a0.git
[submodule "Easy/871eea55ada8661b23fe"]
	path = Easy/challenge-101
	url = https://gist.github.com/871eea55ada8661b23fe.git
[submodule "Easy/1a307738d31574fc5fb9"]
	path = Easy/challenge-102
	url = https://gist.github.com/1a307738d31574fc5fb9.git
[submodule "Easy/da9daef3080dd2785923"]
	path = Easy/challenge-103
	url = https://gist.github.com/da9daef3080dd2785923.git
[submodule "Easy/782acb8dd262ea12a279"]
	path = Easy/challenge-104
	url = https://gist.github.com/782acb8dd262ea12a279.git
[submodule "Easy/a7591a1119da89b52e08"]
	path = Easy/challenge-105
	url = https://gist.github.com/a7591a1119da89b52e08.git
[submodule "Easy/deccc1030ff8f4bcf341"]
	path = Easy/challenge-106
	url = https://gist.github.com/deccc1030ff8f4bcf341.git
[submodule "Easy/ed8ee66479b0bebad1ef"]
	path = Easy/challenge-108
	url = https://gist.github.com/ed8ee66479b0bebad1ef.git
[submodule "Easy/b0adccc46306ed9efd86"]
	path = Easy/challenge-109
	url = https://gist.github.com/b0adccc46306ed9efd86.git
[submodule "Easy/64c57ba55152238d2869"]
	path = Easy/challenge-110
	url = https://gist.github.com/64c57ba55152238d2869.git
[submodule "Easy/807e74a60fff84085ca9"]
	path = Easy/challenge-112
	url = https://gist.github.com/807e74a60fff84085ca9.git
[submodule "Easy/f74f902cc20768d48601"]
	path = Easy/challenge-113
	url = https://gist.github.com/f74f902cc20768d48601.git
[submodule "Easy/f1fa400bb1427193b6a2"]
	path = Easy/challenge-114
	url = https://gist.github.com/f1fa400bb1427193b6a2.git
[submodule "Easy/98de614cd4b8afc4a12c"]
	path = Easy/challenge-115
	url = https://gist.github.com/98de614cd4b8afc4a12c.git
[submodule "Easy/aebb479ce21e708595dd"]
	path = Easy/challenge-116
	url = https://gist.github.com/aebb479ce21e708595dd.git
[submodule "Easy/3faf88657baea664dcd5"]
	path = Easy/challenge-117
	url = https://gist.github.com/3faf88657baea664dcd5.git
[submodule "Easy/2d813cd8b8a4d1fcbf4c"]
	path = Easy/challenge-118
	url = https://gist.github.com/2d813cd8b8a4d1fcbf4c.git
[submodule "Easy/5deed5d83b3fe4270eba"]
	path = Easy/challenge-119
	url = https://gist.github.com/5deed5d83b3fe4270eba.git
[submodule "Easy/0a4abf35090290c7564f"]
	path = Easy/challenge-120
	url = https://gist.github.com/0a4abf35090290c7564f.git
[submodule "Easy/32b4985c805ab1132f10"]
	path = Easy/challenge-122
	url = https://gist.github.com/32b4985c805ab1132f10.git
[submodule "Easy/6eeb80b02747cf32b03f"]
	path = Easy/challenge-123
	url = https://gist.github.com/6eeb80b02747cf32b03f.git
[submodule "Easy/bebae1a4f3f4d9b8af4a"]
	path = Easy/challenge-123-2
	url = https://gist.github.com/bebae1a4f3f4d9b8af4a.git
[submodule "Easy/0eaf2581ec8781ecea0886efab85ba08"]
	path = Easy/challenge-124
	url = https://gist.github.com/0eaf2581ec8781ecea0886efab85ba08.git
[submodule "Easy/97b4c1e7361233effe2c2fb9690f25b5"]
	path = Easy/challenge-125
	url = https://gist.github.com/97b4c1e7361233effe2c2fb9690f25b5.git
[submodule "Easy/6a65edea1df6969b88434a70f31e3555"]
	path = Easy/challenge-127
	url = https://gist.github.com/6a65edea1df6969b88434a70f31e3555.git
[submodule "Easy/afaff6f11de0e23824a3ff5d7f36d251"]
	path = Easy/challenge-128
	url = https://gist.github.com/afaff6f11de0e23824a3ff5d7f36d251.git
[submodule "Easy/69a2e66096341dcb389f538c000a7b05"]
	path = Easy/challenge-130
	url = https://gist.github.com/69a2e66096341dcb389f538c000a7b05.git
[submodule "Easy/1a6c294ef305dd0efeb386c48384efd7"]
	path = Easy/challenge-131
	url = https://gist.github.com/1a6c294ef305dd0efeb386c48384efd7.git
[submodule "Easy/29ff7dbf73d505c410f0111c1954b18d"]
	path = Easy/challenge-132
	url = https://gist.github.com/29ff7dbf73d505c410f0111c1954b18d.git
[submodule "Easy/f650817203081330ad1d9e0573022c32"]
	path = Easy/challenge-134
	url = https://gist.github.com/f650817203081330ad1d9e0573022c32.git
[submodule "Easy/9cb0b7d7788b3b0fab0f2c2aa837fd8c"]
	path = Easy/challenge-135
	url = https://gist.github.com/9cb0b7d7788b3b0fab0f2c2aa837fd8c.git
[submodule "Easy/50180262ff500ec6b2d9547e9f1bc213"]
	path = Easy/challenge-136
	url = https://gist.github.com/50180262ff500ec6b2d9547e9f1bc213.git
[submodule "Easy/7d717d3987c625cd3acfb771b4f002bc"]
	path = Easy/challenge-137
	url = https://gist.github.com/7d717d3987c625cd3acfb771b4f002bc.git
[submodule "Easy/0cb8c7a42d0e0134a8e797534265c118"]
	path = Easy/challenge-138
	url = https://gist.github.com/0cb8c7a42d0e0134a8e797534265c118.git
[submodule "Easy/9bf8a603dc02b99f06176a519bb0760a"]
	path = Easy/challenge-139
	url = https://gist.github.com/9bf8a603dc02b99f06176a519bb0760a.git
[submodule "Easy/a99243344f5306e2f6fbbe6b716a8ec4"]
	path = Easy/challenge-140
	url = https://gist.github.com/a99243344f5306e2f6fbbe6b716a8ec4.git
[submodule "Easy/c6f7cc31954558037c14740a852f9459"]
	path = Easy/challenge-141
	url = https://gist.github.com/c6f7cc31954558037c14740a852f9459.git
[submodule "Easy/8e0d63bccabcef506dfeb6d0ae89b8fd"]
	path = Easy/challenge-141-2
	url = https://gist.github.com/8e0d63bccabcef506dfeb6d0ae89b8fd.git
[submodule "Easy/d6b9ab881b4cb6f52e5635ad0e86d988"]
	path = Easy/challenge-142
	url = https://gist.github.com/d6b9ab881b4cb6f52e5635ad0e86d988.git
[submodule "Easy/3985b300bf15b897ee6155aa34faee8a"]
	path = Easy/challenge-144
	url = https://gist.github.com/3985b300bf15b897ee6155aa34faee8a.git
[submodule "Easy/6b9bcb5a0074ad51cccbbf7c90d2b72c"]
	path = Easy/challenge-145
	url = https://gist.github.com/6b9bcb5a0074ad51cccbbf7c90d2b72c.git
[submodule "Easy/cc03853f732af5da034684aaa9ab9907"]
	path = Easy/challenge-146
	url = https://gist.github.com/cc03853f732af5da034684aaa9ab9907.git
[submodule "Easy/d337ff8b708a92fc0b2fff1ff1d25908"]
	path = Easy/challenge-147
	url = https://gist.github.com/d337ff8b708a92fc0b2fff1ff1d25908.git
[submodule "Easy/904779e316e701721bbece0e29b5d9c1"]
	path = Easy/challenge-148
	url = https://gist.github.com/904779e316e701721bbece0e29b5d9c1.git
[submodule "Easy/bc1e6b495a3051173d0b2813cdac6b2d"]
	path = Easy/challenge-149
	url = https://gist.github.com/bc1e6b495a3051173d0b2813cdac6b2d.git
[submodule "Easy/0b4c1a4661f1af173daaf39b879cb9da"]
	path = Easy/challenge-156
	url = https://gist.github.com/0b4c1a4661f1af173daaf39b879cb9da.git
[submodule "Easy/fe2880cfa727b5cd3472126667958bb2"]
	path = Easy/challenge-158
	url = https://gist.github.com/fe2880cfa727b5cd3472126667958bb2.git
[submodule "Easy/880a89492688d9d08d4043b85e9e6327"]
	path = Easy/challenge-159
	url = https://gist.github.com/880a89492688d9d08d4043b85e9e6327.git
[submodule "Easy/af3fa2166fe351ee9c633d35ad29053d"]
	path = Easy/challenge-161
	url = https://gist.github.com/af3fa2166fe351ee9c633d35ad29053d.git
[submodule "Easy/16df091a3bb6c544208a5e969e1a67a5"]
	path = Easy/challenge-162
	url = https://gist.github.com/16df091a3bb6c544208a5e969e1a67a5.git
[submodule "Easy/f31597acf82066ce625be5ea0f4d21fe"]
	path = Easy/challenge-163
	url = https://gist.github.com/f31597acf82066ce625be5ea0f4d21fe.git
[submodule "Easy/bd9d1383fa2a571dcd5e0a8ad464ac23"]
	path = Easy/challenge-165
	url = https://gist.github.com/bd9d1383fa2a571dcd5e0a8ad464ac23.git
[submodule "Easy/3cbe16778e0345debf5dbaa272a0fdcf"]
	path = Easy/challenge-166b
	url = https://gist.github.com/3cbe16778e0345debf5dbaa272a0fdcf.git
[submodule "Easy/65ba18f5abc46d32d16acc84a2a36216"]
	path = Easy/challenge-167
	url = https://gist.github.com/65ba18f5abc46d32d16acc84a2a36216.git
[submodule "Easy/2bdbf45ab7f728422be9a368245f5ad5"]
	path = Easy/challenge-168
	url = https://gist.github.com/2bdbf45ab7f728422be9a368245f5ad5.git
[submodule "Easy/fe6c779433460aa512b9e20e6fc1750e"]
	path = Easy/challenge-169
	url = https://gist.github.com/fe6c779433460aa512b9e20e6fc1750e.git
[submodule "Easy/60d68a4aa4e543acd3e1a196c89ec3d9"]
	path = Easy/challenge-171
	url = https://gist.github.com/60d68a4aa4e543acd3e1a196c89ec3d9.git
[submodule "Easy/f348df76ba89c9b3ba8d2d2577e4db80"]
	path = Easy/challenge-172
	url = https://gist.github.com/f348df76ba89c9b3ba8d2d2577e4db80.git
[submodule "Easy/30699f9f6ee57b3a2757546c999878cb"]
	path = Easy/challenge-173
	url = https://gist.github.com/30699f9f6ee57b3a2757546c999878cb.git
[submodule "Easy/4e8d5d89749c02b76f4efb4466c43549"]
	path = Easy/challenge-174
	url = https://gist.github.com/4e8d5d89749c02b76f4efb4466c43549.git
