[submodule "Easy/1147f9e3b12f386acfd8"]
	path = Easy/challenge-1
	url = https://gist.github.com/1147f9e3b12f386acfd8.git
[submodule "Easy/10f704792350277885db"]
	path = Easy/challenge-2
	url = https://gist.github.com/10f704792350277885db.git
[submodule "Easy/b382a4427bc21f2726c0"]
	path = Easy/challenge-3
	url = https://gist.github.com/b382a4427bc21f2726c0.git
[submodule "Easy/db8c0888a63e9e2b9825"]
	path = Easy/challenge-6
	url = https://gist.github.com/db8c0888a63e9e2b9825.git
[submodule "Easy/4873a0e48573e1cf105c"]
	path = Easy/challenge-7
	url = https://gist.github.com/4873a0e48573e1cf105c.git
[submodule "Easy/e5392426774a88521e27"]
	path = Easy/challenge-8
	url = https://gist.github.com/e5392426774a88521e27.git
[submodule "Easy/f5b4bd5138284443e320"]
	path = Easy/challenge-9
	url = https://gist.github.com/f5b4bd5138284443e320.git
[submodule "Easy/cd63ec6df368d6d7a2bc"]
	path = Easy/challenge-10
	url = https://gist.github.com/cd63ec6df368d6d7a2bc.git
[submodule "Easy/b08a393896db08af8d64"]
	path = Easy/challenge-4
	url = https://gist.github.com/b08a393896db08af8d64.git
[submodule "Easy/1c871d640f6b64cb5288"]
	path = Easy/challenge-5
	url = https://gist.github.com/1c871d640f6b64cb5288.git
[submodule "Easy/10d57fcfc48f340b690e"]
	path = Easy/challenge-11
	url = https://gist.github.com/10d57fcfc48f340b690e.git
[submodule "Easy/fd396f13bcc447a9f3a6"]
	path = Easy/challenge-12
	url = https://gist.github.com/fd396f13bcc447a9f3a6.git
[submodule "Easy/3e23871174e5ddb24d48"]
	path = Easy/challenge-13
	url = https://gist.github.com/3e23871174e5ddb24d48.git
[submodule "Easy/e500242c4d656f08b223"]
	path = Easy/challenge-14
	url = https://gist.github.com/e500242c4d656f08b223.git
[submodule "Easy/fabc20a73ad62ee92708"]
	path = Easy/challenge-15
	url = https://gist.github.com/fabc20a73ad62ee92708.git
[submodule "Easy/bcefcab77adb3990f331"]
	path = Easy/challenge-16
	url = https://gist.github.com/bcefcab77adb3990f331.git
[submodule "Easy/df249db586a9b6670272"]
	path = Easy/challenge-17
	url = https://gist.github.com/df249db586a9b6670272.git
[submodule "Easy/1fd577d7c1cbd37ea748"]
	path = Easy/challenge-18
	url = https://gist.github.com/1fd577d7c1cbd37ea748.git
[submodule "Easy/77c0a083e073449bc08f"]
	path = Easy/challenge-19
	url = https://gist.github.com/77c0a083e073449bc08f.git
[submodule "Easy/b439fd5c6450a317882e"]
	path = Easy/challenge-20
	url = https://gist.github.com/b439fd5c6450a317882e.git
[submodule "Easy/e06311446f13e0f1c84c"]
	path = Easy/challenge-21
	url = https://gist.github.com/e06311446f13e0f1c84c.git
[submodule "Easy/3ed82ae24a47d9016f17"]
	path = Easy/challenge-22
	url = https://gist.github.com/3ed82ae24a47d9016f17.git
[submodule "Easy/90a1a867ea75099e4976"]
	path = Easy/challenge-23
	url = https://gist.github.com/90a1a867ea75099e4976.git
[submodule "Easy/d0d3a902753d2cbd2da9"]
	path = Easy/challenge-25
	url = https://gist.github.com/d0d3a902753d2cbd2da9.git
[submodule "Easy/3aecc0dc520a7e74c84f"]
	path = Easy/challenge-26
	url = https://gist.github.com/3aecc0dc520a7e74c84f.git
[submodule "Easy/e9b7096a35c9b4d5071c"]
	path = Easy/challenge-27
	url = https://gist.github.com/e9b7096a35c9b4d5071c.git
[submodule "Easy/88643374cb6f6bc5f913"]
	path = Easy/challenge-28
	url = https://gist.github.com/88643374cb6f6bc5f913.git
[submodule "Easy/166602761bae087d2374"]
	path = Easy/challenge-29
	url = https://gist.github.com/166602761bae087d2374.git
[submodule "Easy/341f1825e790a1ef8252"]
	path = Easy/challenge-30
	url = https://gist.github.com/341f1825e790a1ef8252.git
